.configSection {
    width: 100%;
    display: none;
}

body {
    overflow-y: auto;
}

.center{
    margin:auto;
    justify-content: center;
}

.item-config{
    position: fixed;
    max-width: 200px;
    left:0;
}