.live-page {
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: #f5f5f5;
    border-radius: 4px;
    /* text-align: center; */
    transition: 0.4s;
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  .right{
    float: right;
    width: 50%;
    height: auto;
    padding: 20px;
  }

  .live-page img {
    max-width: 80%;
    /* max-height: 20%; */
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    /* text-align: center; */
    transition: 0.4s;
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.25);
  }